{% extends "dashboard.html" %}

{% block pagestyles %}
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/dashboardcontent.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block dashboardcontent %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Personal Profile</h1>
    </div>
    <div>
        <center style = "margin-top: 20px;">
            <div style = "width: 70%">
                <div class="card border-left-primary shadow h-100 py-2" style = "width: 100%;">
                    <center>
                        <img class="img-profile rounded-circle" width="140" height="140"
                                src="{{ url_for('static', filename='img/undraw_profile.svg') }}">
                        <h3 class="media-heading" style = "margin-top: 10px;">{{user.name}}</h3>
                        <span><strong style = "font-size: larger;">{{user.email}}</strong></span>
                    </center>


                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                                     <div class="col mr-2">
                                <hr style = "width: 50%;">

                                <div class="h5 mb-0 text-gray-800" style = "text-align: left; padding-left: 35%; margin-top: 30px;">
                                    <ul style = "font-size: large;">
                                        <li><b>Name:&nbsp</b> {{ user.name }} </li>
                                        <li><b>Email:&nbsp</b> {{ user.email}} </li>
                                        <li><b>MFA turned on:&nbsp</b> {{ user.mfa }} </li>
                                        <li><b>Registed at:&nbsp</b> {{ user.created_at.strftime("%m/%d/%Y, %H:%M:%S")}} </li>
                                        <li><b>Last login:&nbsp</b> {{ user.last_login.strftime("%m/%d/%Y, %H:%M:%S")}} </li>
                                        <li><b>Client Apps:&nbsp</b> {{ n_clients }} registered clients </li>
                                        <li><b>Token Devices:&nbsp</b> {{ user.token_devices | length }} linked devices </li>
                                      </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </center>
    
    </div>
</div>



{% endblock %}

{% block additionalscripts %}
<script>
    document.getElementById("profile-nav-item").classList.add('active');
  </script>

{% endblock %}