{% extends "dashboard.html" %}

{% block pagestyles %}
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/dashboardcontent.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block dashboardcontent %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Your Clients:</h1>
    </div>
</div>

<div class='dashboardcontent'>
    <div id='dashboard_content' class="form-wrapper" >
        {% for (client, client_dict) in clients_list %}
        <div class="card shadow" style="width: 70%; margin-bottom: 10px;">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">{{client.client_metadata.client_name}}
                    ({{client.client_metadata.client_uri}})</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Actions</div>
                        <button class="dropdown-item" href="#" data-toggle="modal" data-target="#detailDeviceModal">
                            <i class="fas fa-info fa-sm fa-fw mr-2 text-gray-400"></i>
                            Detail
                        </button>
                        <button class="dropdown-item" href="#" data-toggle="modal" data-target="#disableDeviceModal">
                            <i class="fas fa-toggle-off fa-sm fa-fw mr-2 text-gray-400"></i>
                            Disable
                        </button>
                        <button type='button' class="dropdown-item" data-id="{{client.id}}"
                            data-model="{{client.client_metadata.client_name}}" data-toggle="modal"
                            data-target="#deleteDeviceModal">
                            <i class="fas fa-trash fa-sm fa-fw mr-2 text-gray-400"></i>
                            Delete
                        </button>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body" style="padding: 5px;">
                <ul>
                    <li><b>Client name:&nbsp</b> {{ client_dict.client_metadata.client_name}} </li>
                    <li><b>Client ID:&nbsp</b> {{ client_dict.client_info.client_id}} </li>
                    <li><b>Client URI:&nbsp</b> <a target="blank" href = "{{ client_dict.client_metadata.client_uri}}">{{ client_dict.client_metadata.client_uri}}</a> </li>
                    <li><b>Issued at:&nbsp</b> {{ client_dict.client_info.client_id_issued_at | timestamp_to_str }} </li>
                </ul>
                <a href="#clientDetail-{{client.id}}" class="py-3" data-toggle="collapse" role="button"
                    aria-expanded="false" aria-controls="collapseCardExample"><u>Details</u>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse" id="clientDetail-{{client.id}}">
                    <div class="card-body">
                        <pre>{{ client_dict | tojson_pretty | safe }}
                    </pre>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}

{% block additionalscripts %}
<script src="{{ url_for('static', filename='js/main.min.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<script>
    $(".chosen-select").chosen({
        no_results_text: "Oops, nothing found!"
    })
</script>

{% endblock %}