{% extends "layout.html" %}

{% block pagestyles %}
  <link href="{{ url_for('static', filename='css/account.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  <div class="form-wrapper">

    <div class="logo">
      <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" style='width:100px; height: 100px;'/>
    </div>

    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
    {% endfor %}
    <h1>Change your account password</h1>
    <form id='form' method="POST" action="">
      {{ form.csrf_token }}

      <fieldset class="password">
        {{ form.password.label }}
        {{ form.password }}
        {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="confirm">
        {{ form.confirm.label }}
        {{ form.confirm }}
        {% if form.confirm.errors %}
          <ul class="errors">
            {% for error in form.confirm.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset>
        {{ form.reset_mfa() }}
        {{ form.reset_mfa.label(style= "display: inline-block;") }}
        {% if form.reset_mfa.errors %}
          <ul class="errors">
            {% for error in form.reset_mfa.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset>
        {{ form.recaptcha }}
      </fieldset>
      
      <div id = 'submit-btn' class="submit-button">
        {{ form.password_reset_submit(id='submit-btn') }}
      </div>

      <div class="login-signup">
        <span>Or signup a new account? <a href="{{ url_for('auth_bp.signup') }}">Sign up.</a></span>
      </div>

    </form>
  </div>
{% endblock %}

{% block additionalscripts %}
<script>
  function onSubmitCallback(token) {
      document.getElementById("form").submit();
  }
</script>
{% endblock %}
