{% extends "layout.html" %}

{% block pagestyles %}
  <link href="{{ url_for('static', filename='css/account.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  <div class="form-wrapper">

    <div class="logo">
      <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" style='width:100px; height: 100px;'/>
    </div>

    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
    {% endfor %}
    <h1>Password Reset</h1>
        <p style='font-size: 18px; font-style: italic; color: #5f6988'>We have sent an email to <p style='font-size: 20px; font-style: italic; color: #5eb9d7'>{{email}}.</p></p>
        <p style='font-size: 18px; font-style: italic; color: #5f6988'>Check your email and follow the instructions to reset your account password.</p>
        <hr>
        <div class="login-signup" style = 'margin-top: 20px;'>
          <span>Did not receive an email? <a href="{{ url_for('auth_bp.password_reset_promt') }}">Try again.</a></span>
        </div>
        <div class="login-signup">
          <span>Or register a new account? <a href="{{ url_for('auth_bp.signup') }}">Sign up.</a></span>
        </div>
  </div>
{% endblock %}
